<mat-card class="clientauthorizationcode-card">
    <mat-card-title>
        <p class="mat-h1" *ngIf="id && id !== ''">Edit Client Resource Owner Password</p>
        <p class="mat-h1" *ngIf="!id || id === ''">Create Client Resource Owner Password</p>
    </mat-card-title>
        
    <mat-card-content>
        <div class="flex-vertical-container">
            <mat-form-field>
                <mat-label>Client Name</mat-label>
                <input matInput class="form-control" id="clientName" placeholder="Client Name" name="clientName"
                [(ngModel)]="clientName" required />
                
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" id="clientId" placeholder="client_id" name="clientId"
                [(ngModel)]="clientId" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" id="clientSecret" placeholder="client_secret" name="clientSecret"
                [(ngModel)]="clientSecret" required/>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput class="form-control" id="tokenExpirationMin" placeholder="Token Expiration (Min)" name="tokenExpirationMin"
                [(ngModel)]="tokenExpirationMin" required type="number"/>
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" id="issuerURI" placeholder="IssuerURI" name="issuerURI"
                [(ngModel)]="issuerURI" required/>
            </mat-form-field>

            <mat-form-field>
                <input matInput class="form-control" id="audience" placeholder="Audience" name="audience"
                [(ngModel)]="audience" required/>
            </mat-form-field>

            <mat-checkbox [(ngModel)]="issueRefreshTokens">Issue Refresh Tokens?</mat-checkbox>

            <mat-form-field *ngIf="issueRefreshTokens">
                <input matInput class="form-control" id="refreshTokenExpirationDays" placeholder="Refresh Token Expiration (Days)?" name="refreshTokenExpirationDays"
                    [(ngModel)]="refreshTokenExpirationDays" type="number" *ngIf="issueRefreshTokens"/>
            </mat-form-field>

            <mat-checkbox [(ngModel)]="validateSigningKey">Validate Signing Key?</mat-checkbox>
            <mat-checkbox [(ngModel)]="validateIssuer">Validate Issuer?</mat-checkbox>
            <mat-checkbox [(ngModel)]="validateAudience">Validate Audience?</mat-checkbox>
            <mat-checkbox [(ngModel)]="validateCORS">Validate CORS?</mat-checkbox>

            <div class="flex-horizontal-container" *ngIf="id && id !== ''">
                <app-clientscopes [clientId]="id" ></app-clientscopes>
                <app-clientcorsorigins [clientId]="id"></app-clientcorsorigins>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button color="primary" appearance="outlined" [routerLink]="['/']">
            Back
        </button>
        <button mat-raised-button color="primary" appearance="raised" (click)="createClient()" *ngIf="!id || id === ''">
            Create
        </button>
        <button mat-raised-button color="primary" appearance="raised" (click)="createClient()" *ngIf="id && id !== ''">
            Update
        </button>
    </mat-card-actions>

</mat-card>
