<div class="padding-basic">
    <mat-card class="login-card">
        <mat-card-title>
            <p class="mat-h1">Login to OAuthServer.NET</p>

            <p *ngIf="message && message !== ''" style="color: red">
                {{ message }}
            </p>
        </mat-card-title>
            
        <mat-card-content>
            <div class="flex-vertical-container">
                <div class="flex-horizontal-container">
                    <mat-form-field>
                        <input matInput class="form-control" id="username" placeholder="Username" name="username"
                        [(ngModel)]="username" required />
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput class="form-control" id="password" placeholder="Password" [type]="'password'" name="password"
                        [(ngModel)]="password" required />
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" appearance="raised" (click)="login()">
                Login
            </button>
        </mat-card-actions>

    </mat-card>
</div>
