.mat-column-grantName,
.mat-column-authorizeResponseType,
.mat-column-tokenGrantType,
.mat-column-numClientApplications,
.mat-colume-removeGrant {
    padding: 0px 5px 0px 5px;
}

.grants-card {
    display: flex;
    flex-direction: column;
}